.Dictionary section {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0 0 0 /10%);
    margin: 20px 0;
}

.Dictionary input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 6px 10px;
    border-radius: 10px;
    color: #333;
}

.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
}